.dzs-progress-bar {
  position: relative;
  font-family: "Open Sans", sans-sarif;
  font-weight: 300;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  -moz-transition-property: opacity;
  -moz-transition-duration: 1s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  -o-transition-property: opacity;
  -o-transition-duration: 1s;
  -ms-transition-property: opacity;
  -ms-transition-duration: 1s;
  -ms-transition-timing-function: ease-out-quart;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .dzs-progress-bar * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .dzs-progress-bar div.progress-bars-item {
    width: 0%;
    height: 50px; }
  .dzs-progress-bar div.progress-bars-item--text {
    line-height: 1.1; }

.dzs-progress-bar.started {
  opacity: 1; }

.padding5 {
  padding: 3px; }

.small-arrow-bot:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #111;
  position: absolute;
  top: 100%;
  margin-left: -3px;
  left: 50%; }
