select.dzs-style-me {
  opacity: 0; }

select.dzs-style-me > li {
  display: none; }

ul.dzs-style-me > li {
  display: none; }

.dzs-style-me-feeder {
  display: none; }

.dzs-select-wrapper {
  position: relative;
  color: #444444;
  width: 500px;
  display: inline-block;
  vertical-align: top;
  max-width: 100%; }

.dzs-select-wrapper.autowidth {
  width: auto;
  max-width: none; }

.dzs-select-wrapper .dzs-select-wrapper-head {
  position: relative;
  height: 30px;
  color: #444444;
  border: 1px solid #bbbbbb;
  cursor: pointer;
  background-color: #d6d0bc;
  width: 100%;
  display: block;
  vertical-align: top; }

.dzs-select-wrapper .the-text {
  position: absolute;
  left: 10px;
  top: 8px;
  font-size: 13px;
  line-height: 1; }

.dzs-select-wrapper select {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  font-size: 30px;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  cursor: pointer; }

.dzs-select-wrapper .select-option {
  cursor: pointer; }

.dzs-select-wrapper[class*="opener-"] select {
  display: none; }

.dzs-select-wrapper.skin-beige:after {
  position: absolute;
  content: '\f107';
  font-family: FontAwesome;
  color: #777777;
  font-size: 12px;
  right: 10px;
  top: 8px;
  pointer-events: none; }

.dzs-select-wrapper.skin-justvisible .dzs-select-wrapper-head {
  background-color: transparent;
  border-width: 0; }

.dzs-select-wrapper.opener-bigoptions .opener-bigoptions-wrap {
  border: 1px solid #bbbbbb;
  background-color: #d6d0bc;
  /*color: #FFFFFF;*/
  margin-top: 15px;
  padding: 10px 0 0px 10px;
  display: none;
  transition-property: all;
  transition-duration: 0.2s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -ms-transition-property: all;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  transform: scale(0); }
.dzs-select-wrapper.opener-bigoptions .bigoption {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 150px;
  min-height: 150px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.3); }

.dzs-select-wrapper.active .opener-bigoptions-wrap {
  display: block;
  /*transform: scale(1);*/ }

.dzs-select-wrapper.active-animation .opener-bigoptions-wrap {
  transform: scale(1); }

.dzs-select-wrapper.opener-listbuttons .dzs-select-wrapper-head {
  display: none; }
.dzs-select-wrapper.opener-listbuttons .bigoption {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  padding: 5px 10px; }
.dzs-select-wrapper.opener-listbuttons .bigoption.active {
  background-color: #20dbfc;
  border-radius: 5px; }

.dzs-select-wrapper.opener-listbuttons.skin-checkbox .bigoption {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  padding: 3px 3px; }
.dzs-select-wrapper.opener-listbuttons.skin-checkbox .bigoption.active {
  position: relative;
  background-color: transparent; }
.dzs-select-wrapper.opener-listbuttons.skin-checkbox .bigoption.active:before {
  background-color: #ffffff;
  content: '';
  position: absolute;
  right: 0;
  top: auto;
  bottom: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%; }
.dzs-select-wrapper.opener-listbuttons.skin-checkbox .bigoption.active:after {
  background-color: transparent;
  content: '\2713';
  font-size: 12px;
  color: #111;
  line-height: 1;
  position: absolute;
  right: 0;
  top: auto;
  bottom: 3px; }

.dzs-select-wrapper.opener-radio .dzs-select-wrapper-head {
  display: none; }
.dzs-select-wrapper.opener-radio .bigoption {
  display: inline-block;
  margin-right: 15px;
  color: #fff;
  position: relative;
  line-height: 1;
  font-size: 14px; }
  .dzs-select-wrapper.opener-radio .bigoption .small-bubble {
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 50%; }
.dzs-select-wrapper.opener-radio .bigoption.active:after {
  content: '\2713';
  color: #111;
  position: absolute;
  right: 0;
  top: 0; }

/*# sourceMappingURL=dzsselector.css.map */
